body{
    background-color: rgb(17, 15, 15);

}

#number-guess, #result, #history, #userChoice {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}
  
.banner {
    color: #ffffff;
    font-size: 60px;
    font-family: sans-serif;
}

